
.sidebar {
    position: absolute; 
    top: 101px;
    left: 0;
    width: 240px;
    height: calc(100vh - 87px);
    background-color: #333;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-layout {
    display: flex;
    margin-left: 250px;
    width: calc(100% - 250px);
  }
  
  /* Main View (Takes Remaining Space) */
  .main-view {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
  }
  