
.sidebar {
    top: 77.5px;
    left: 0;
    width: 250px;
    background-color: #333;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
    
  }
  
  .main-layout {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
  }
  
  /* Main View (Takes Remaining Space) */
  .main-view {
    flex-grow: 1;
    padding: 20px;
    background-color: #333;
  }
  