.Navigation {
    background-color: #333;
}

.Navigation ul{
    list-style-type: none;  
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-evenly;
}

.Navigation li {
    flex: 1;
    display: inline-block;
    color: white;
    padding: 1vh 1vw;
    cursor: pointer;
    text-align: center;
}

.Navigation li:hover {
    background-color: rgb(178, 176, 176);
}